/* src/components/ScheduleAppointmentButton.css */
@font-face {
    font-family: 'Built Titling';
    src: url('../fonts/built_titling_rg.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

.black-box-header {
    font-family: 'Built Titling', sans-serif;
    background-color: #141414;
    color: #ffffff;
    text-decoration: none;
    padding: 12px 24px;
    font-size: 48px;
    border: 3px solid #141414;
    border-radius: 8px;
    top: 84vh;
    position: absolute;
    z-index: 3;
    overflow-y: auto;
    left: 50%;
    transform: translateX(-50%);
}