/* src/components/BlackBox.css */
.black-box {
    width: 100%;
    background: #141414;
    color: #fff;
    /* opacity: 0.95; might change later im not sure*/
    padding: 40px;
    top: 800px;
    left: 0;
    position: absolute;
    box-sizing: border-box;
    font-family: 'Built Titling', sans-serif;
    /*overflow-y: auto;*/
    z-index: 1;
    border-top-left-radius: 24px;
    border-top-right-radius: 24px;
}

.black-box h1 {
    font-size: 64px;
    margin-top: 25px;
}

.black-box p {
    font-size: 32px;
    margin-bottom: 25px;
}